.ccf_main_area{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
    margin-top: 25px;
    gap: 25px;
}
.ccf_common{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px 25px;
}
.ccf_body_area{
    flex-basis: 80%;
}
.ccf_sidebar_area{
    flex-basis: 20%;
}
.ccf_main_area h3#title{
    display: block;
    font-weight: bold;
    font-size: 20px;
}
.ccf_main_area label{
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.ccf_main_area input{
    display: block;
    font-weight: bold;
    width: 90%;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
}
.ccf_main_area input[type='color']{
    width: 100px;
    height: 40px;
    padding: 3px;
}